@model IEnumerable<G2G1FinalProject.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoursePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
