@model IEnumerable<G2G1FinalProject.Models.Course>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-controller="Courses">@Html.DisplayNameFor(model => model.CourseName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Categories">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Trainers">@Html.DisplayNameFor(model => model.Trainer)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Courses" asp-route-id="@item.CourseId">@Html.DisplayFor(modelItem => item.CourseName)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Categories" asp-route-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Trainers" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.TrainerName)</a>
                </td>


            </tr>
        }
    </tbody>
</table>
